<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jnu.dao.GameRoundDao" >

    <select id="getCurrentGameRound" resultType="com.jnu.view.GameRound">
        select * from game_round where deleted=0 and game_id=#{gameId} order by round desc limit 1
    </select>

</mapper>